<launch>
    <arg name="pathname"/>

    <include file="$(find pr2_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="true"/>
    </include>

    <node pkg="capability_map_generator" type="capability_map_generator" name="capability_map_generator" args="-p $(arg pathname) -n 200 -l -r 0.1 -x -0.55 -x 0.85 -y -1.05 -y 0.45 -z -0.75 -z 0.55" output="screen" required="true">
        <param name="reachability_interface" value="capability_map_generator::ReachabilityROSKinematicsInterface"/>

        <rosparam command="load" file="$(find pr2_moveit_config)/config/kinematics.yaml"/>

        <param name="group_name" value="right_arm" />
        <param name="base_name" value="torso_lift_link" />
        <param name="tip_name" value="r_wrist_roll_link" />
    </node>
</launch>

<!-- approximated right_arm bounding box of pr2: -x -0.55 -x 0.85 -y -1.05 -y 0.45 -z -0.75 -z 0.55 -->
